  body {
      margin: 0;
      font-family: sans-serif;
      line-height: 1.5;
    }


    /* Secciones con efecto parallax */
    .parallax {
      height: 85vh;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2rem;
      text-shadow: 0 2px 5px rgba(0,0,0,0.7);
    }

    .parallax-h {
      height: 60vh;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2rem;
      text-shadow: 0 2px 5px rgba(0,0,0,0.7);
    }

    h2{
        font-size: 3em;
        margin-bottom: 20px;
        color: #2C3E50;
    }

    p{
        font-size: 1.5em;
        line-height: 1.6;
        margin-bottom: 15px;
    }

    .contenido {
      padding: 60px 20px;
      text-align: center;
      max-width: 800px;    
      margin-left: auto;   
      margin-right: auto;
    }


      .parallax:nth-child(1) {
      background-image: url("./img/Aguatorio_logo.png");
    }

    .parallax-h:nth-child(3) {
      background-image: url("./img/noted.png");
    }


    .parallax-h:nth-child(5) {
      background-image: url("./img/joel.gif");
    }
 

        .parallax-h:nth-child(7) {
      background-image: url("./img/party.gif");
    }

